@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

h1, h2, h3, h4, h5, h6, span, p, input, a {
    font-family: 'Cairo', sans-serif !important;
}


.f-c {
    font-family: 'Cairo' !important;
}

.w-c {
    width: fit-content !important;
}

.sidenav .offcanvas_social li a {
    margin: 0 !important;
}

.sidenav li.nav-link-container .nav-menu-link {
    padding: 10px !important;
    padding-top: 13px !important;
}

.a-r-input {
    font-family: 'Cairo' !important;
    direction: rtl !important;
}

.text-right-lg {
    text-align: right;
}

.d-flex-lg {
    display: flex;
}

.d-l {
    direction: ltr;
}

.d-r {
    direction: rtl !important;
}

@media (max-width: 992px) {
    .text-right-lg {
        text-align: unset;
    }

    .d-flex-lg {
        display: unset;
    }
}

.theiaStickySidebar:after {
    content: "";
    display: table;
    clear: both;
}

.d__flex__lg {
    display: flex;
}

@media(min-width: 992px) {
    .d-flex-lg {
        display: initial;
    }
}