@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

h1, h2, h3, h4, h5, h6, span, p, input, a {
    font-family: 'Cairo', sans-serif !important;
}


.f-c {
    font-family: 'Cairo' !important;
}

.a-r-input {
    font-family: 'Cairo' !important;
    direction: rtl !important;
}

.text-right-lg {
    text-align: right;
}

.d-flex-lg {
    display: flex;
}

@media (max-width: 992px) {
    .text-right-lg {
        text-align: unset;
    }

    .d-flex-lg {
        display: unset;
    }
}

.theiaStickySidebar:after {
    content: "";
    display: table;
    clear: both;
}