@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

h1, h2, h3, h4, h5, h6, span, p, input, a {
    font-family: 'Cairo', sans-serif !important;
}



.theiaStickySidebar:after {
    content: "";
    display: table;
    clear: both;
}